.card-edit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding-top: 40px;
}

@media screen and (max-width: 510px) {
  .card-edit-form {
    font-size: 14px;
    gap: 2px;
    padding-top: 0px;
  }
}
