.card__add-button {
  background-image: url("../../../images/add-button.svg");
  background-color: inherit;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px dashed black;
  padding: 15px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
