.card-edit-form__input-field {
  color: antiquewhite;
  width: 70%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #faebd75e;
  text-overflow: ellipsis;
  padding: 0px 4px;
}

@media screen and (max-width: 510px) {
  .card-edit-form__input-field {
    width: 85%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .card-edit-form__input-field {
  }
}

.card-edit-form__input-field:focus {
  outline: 1px solid #ffffff73;
  border: none;
  border-radius: 5px;
}
