.card-edit-form__input-field {
  width: 70%;
}

@media screen and (max-width: 510px) {
  .card-edit-form__input-field {
    width: 85%;
    margin-top: 5px;
  }
}

@media screen and (max-width: 400px) {
  .card-edit-form__input-field {
  }
}
