.card-edit-form__submit-button {
  margin-bottom: 20px;
  height: 3rem;
  width: 8rem;
  background-color: antiquewhite;
  border: none;
  border-radius: 22px;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

@media screen and (max-width: 510px) {
  .card-edit-form__submit-button {
    margin-top: 20px;
    height: 2rem;
    width: calc(8rem * 2 / 3);
  }
}
