.card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: antiquewhite;
  position: relative;
  box-sizing: border-box;
}
